.todo-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  border-radius: 5px;
  background-color: rgb(93, 125, 214);
  cursor: pointer;
  padding: 6px 8px;
  border: none;
}

input {
  background-color: rgb(42, 42, 42);
  padding: 6px;
  border-radius: 5px;
  border: none;
  color: white;
}
